.link {
  text-decoration: none;
  border-radius: 15px;
}

.button {
  height: 60px;
  padding: 0px 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

  &.white {
    background-color: var(--primary-white);
    color: var(--primary-blue);
  }

  &.blue {
    background-color: var(--primary-blue);
    color: var(--primary-white);
  }

  &.isSquare {
    height: 60px;
    width: 60px;
    padding: 8px;
  }

  &:disabled {
    background-color: var(--primary-white);
    color: var(--primary-blue);
  }
}
