
.title {
  font-size: 36px;
  font-weight: 700;
  color: #282828;
  margin-bottom: 20px;
}

.fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.label {
  font-size: 20px;
  font-weight: 500;
  color: #A0A0A0;
  margin-bottom: 10px;
  display: block;
}

.input {
  color: #1890FF;
  font-size: 20px;
  font-weight: 500;
}