.container {
  padding: 25px 15px;
  box-shadow: 0px 1.8px 4.5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 557px;
  width: 400px;
  border-radius: 20px;
  gap: 20px;
  font-size: 21.6px;
  font-weight: 500;
  line-height: 21.6px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  width: 363px;
  height: 325px;
  border-radius: 18px;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.topContent {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 9px;
}

.comment {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  word-break: break-all;
  color: #282828;
  height: 66px;
  margin-bottom: 12px;
}

.categoryContainer {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--secondary-gray);
  margin-top: auto;
  margin-bottom: 10px;
}

.smile {
  position: absolute;
  right: 7px;
  bottom: 7px;
  font-size: 43.2px;
  height: 59px;
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-white);
  padding: 7px;
  border-radius: 50%;
}

.categoryName {
  text-decoration: underline;
}

.date {
  color: var(--secondary-gray);
}

.username {
  color: var(--primary-blue);
}

.tags {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-break: break-all;
  color: var(--primary-blue);
}