@import "vars";
@import "normalize";

html {
  height: -webkit-fill-available;
}

body {
  height: -webkit-fill-available;
  font-family: "Jost", sans-serif;
  font-size: 20px;
}

.ant-steps-item-title, .ant-card-body, .ant-breadcrumb-link, .ant-upload-text, .ant-tag, .ant-input, .ant-upload-list-item-name{
  font-family: "Jost", sans-serif !important;
  font-size: 20px !important;
}

.ant-btn {
  font-family: "Jost", sans-serif !important;
  font-size: 20px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
} 
.ant-typography {
  font-family: "Jost", sans-serif !important;
  font-size: 26px !important;
}

.ant-tag-close-icon, .anticon {
  font-size: 20px !important;
}
.anticon-inbox {
  font-size: 60px !important;
}
#root {
  height: 100%;
}

.app {
  height: 100%;
}

.leaflet-container {
  height: 100%;
  border-radius: 8px;
}

.leaflet-control-attribution.leaflet-control > a > svg {
  display: none !important;
}

.leaflet-control-container {
  display: none;
}

.png-custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 38px;
    height: 38px;
  }
}

.ant-drawer {
  z-index: 10000 !important; // ВРЕМЕННО!!!
}
.ant-modal-wrap, .ant-modal-root, .ant-modal-mask {
  z-index: 10000 !important; // ВРЕМЕННО!!!
}
