.container {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 110px;
  background: transparent;
  z-index: 10000;
}

.content {
  width: 100%;
  height: 100%;
  padding: 0px 25px;
  gap: 30px;
  position: relative;
  background: transparent;
  display: flex;
  align-items: center;
}

.categoryFilter {
  position: absolute;
  top: 94px;
  left: 25px;
}

.myObjectsCategoryFilter {
  position: absolute;
  top: 245px;
  left: 25px;
}

.buttons {
  margin-left: auto;
  display: flex;
  column-gap: 15px;
}

.buttons svg {
  width: 20px;
  height: 20px;
  max-width: 22px;
  max-height: 22px;
}

.mapButtonContainer {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  
  & .baseMapButton {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
  }
  & .heatMapButton {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: none;
  }
}


.avatar {
  background-color: var(--primary-white);
}

.isActiveItem {
  & svg path {
    fill: var(--primary-white);
  }
}

.dropdownLink {
  font-size: 20px;
  font-family: "Jost", sans-serif;
}

.navbarItem {
  white-space: nowrap;
}