.container {
  position: relative;
  width: 100%;
  max-width: 700px;
}

.mainIconContainer {
  width: 60px;
  position: absolute;
  left: 0;
  top: 0;
}

.searchIconContainer {
  position: absolute;
  right: 20px;
  top: 10px;
}

.input {
  padding-left: 80px;
}