.container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px 110px;
  padding-top: 155px;
  display: flex;
  gap: 100px;
  overflow: auto;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #282828;
}

.subTitle {
  font-size: 32px;
  font-weight: 700;
  color: #282828;
}

.analyticTitle {
  margin-top: 40px;
  margin-bottom: 20px;
}

.email {
  font-size: 20px;
  font-weight: 500;
  color: #A0A0A0;
  margin-bottom: 25px;
}

.leftSide {
  max-width: 440px;
  width: 100%;
}

.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 440px;
  height: 440px;
  box-shadow: 0px 2px 5px 0px #00000040;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  color: #1890FF;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  display: block;
  width: 100%;
}


.analytics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

.analyticCharts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.chartContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chartContainer > div {
  height: 500px !important;
  width: 100% !important;
}