.listContainer {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.list {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(5, 5, 5, 0.06);
  }
}

.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.userName {
  font-weight: 600;
  font-size: 16;
}

.container {
  position: relative;
  padding: 0px 25px;
  padding-top: 115px;
  height: 100%;
}