
.card {
  min-width: 200px;
  cursor: pointer;
  text-align: center;
  
  &.isSelected {
    background: #1677ff;
    color: #fff;
  }

  @media only screen and (max-width: 576px) {
    min-width: fit-content;

    & > div {
      padding: 10px !important;
    }
  }
}