.content {
  padding: 10px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba(5, 5, 5, 0.06);
  }

  @media only screen and (max-width: 576px) {
    padding: 5px;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;

  @media only screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: 930px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.breadcrumbs {
  margin-bottom: 10px;
}

.breadcrumbItem {
  cursor: pointer;
}