.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.mapContainer {
  padding-top: 135px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 30px;
  padding: 0px 25px;
}
