.container {
  padding: 25px;
  display: flex;
  gap: 20px;
  height: 800px;
  width: 100%;
  font-size: 21.6px;
  position: relative;
}

.carousel {
  position: relative;
  width: 580px;
  cursor: grab;
  user-select: none;
  border-radius: 18px;
  &:active {
    cursor: grabbing;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.bottomContent {
  margin-top: auto;
}

.imageContainer {
  border-radius: 18px;
  position: relative;
}

.image {
  object-fit: cover;
  height: 750px;
  border-radius: 18px;
  width: 100%;
}

.topContent {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 9px;
}

.comment {
  overflow-y: auto;
  color: #282828;
  margin-bottom: 12px;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba(5, 5, 5, 0.06);
  }
}


.categoryContainer {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--secondary-gray);
  margin-top: auto;
  margin-bottom: 10px;
}

.smile {
  position: absolute;
  right: 7px;
  bottom: 7px;
  font-size: 43.2px;
  height: 59px;
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.categoryName {
  text-decoration: underline;
}

.date {
  color: var(--secondary-gray);
}

.username {
  color: var(--primary-blue);
}

.tags {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-break: break-all;
  color: var(--primary-blue);
}