.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.selectedCategory {
  & svg path {
    fill: var(--primary-white);
  }
}