.container {
  height: 100%;
  width: 100%;
}

.content {
  margin: 20px 0px;
  flex-grow: 1;

  @media only screen and (max-width: 576px) {
    margin: 10px 0px;
  }
}

.bottomButtons {
  & button {
    flex: 1;
  }
}

.steps {
  @media only screen and (max-width: 576px) {
    display: none !important;
  }
}